@import "../../styles/colors.scss";

.input_container {
  display: flex;
  flex-direction: column;

  label {
    color: $grey;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .inputWrap {
    display: flex;
    position: relative;
    align-items: center;

    input {
      flex-grow: 1;
    }

    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    input[type="text"] {
      border: 1px solid $primaryLight;
      line-height: 40px;
      border-radius: 4px;
      padding: 0 30px 0 8px;

      &:focus {
        outline-color: $primaryLight;
      }

      &::placeholder {
        color: $grey;
      }
    }

    input[type="date"] {
      &:invalid {
        color: $grey;
      }
    }

    .status {
      position: absolute;
      right: 8px;
    }
  }
}

