@import "../../styles/colors.scss";

$min-width: 1200px;

.container {
  align-items: center;
  min-width: $min-width;
}

.installments_container {
  width: $min-width;
  margin: 4vh 0;
  padding: 25px;

  h1 {
    font-size: 30px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .month_picker {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.loading {
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
