@import "../../styles/colors.scss";

.header {
  display: flex;
  flex-direction: column;
  border-top: 40px solid $primaryDark;
  align-items: center;
  background-color: $primary;

  .logo {
    margin-top: 40px;
    width: 70px;
    height: 70px;
    background-color: $white;
    border-radius: 50%;
  }

  h1 {
    color: $white;
    margin: 16px 0 40px;
  }
}
